<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-210</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>490</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>700</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 95</key>
      <dict>
        <key>width</key>
        <integer>95</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>69</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 90</key>
      <dict>
        <key>width</key>
        <integer>90</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>62</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 110</key>
      <dict>
        <key>width</key>
        <integer>110</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>41</key>
          <integer>5</integer>
          <key>50</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 95</key>
      <dict>
        <key>width</key>
        <integer>95</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>69</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 160</key>
      <dict>
        <key>width</key>
        <integer>160</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>15</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>28</key>
          <integer>5</integer>
          <key>35</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 90</key>
      <dict>
        <key>width</key>
        <integer>90</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>62</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 175</key>
      <dict>
        <key>width</key>
        <integer>175</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>15</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>28</key>
          <integer>5</integer>
          <key>32</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>770</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>560</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>700</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>167</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-210</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-90</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>5500</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
    <string>percent</string>
    <string>quotesingle</string>
    <string>ampersand</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>colon</string>
    <string>nine</string>
    <string>semicolon</string>
    <string>equal</string>
    <string>less</string>
    <string>greater</string>
    <string>question</string>
    <string>underscore</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>braceright</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>bracketleft</string>
    <string>Z</string>
    <string>Y</string>
    <string>X</string>
    <string>V</string>
    <string>W</string>
    <string>w</string>
    <string>v</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>trademark</string>
    <string>emdash</string>
    <string>bullet</string>
    <string>endash</string>
    <string>quotedblright</string>
    <string>quotedblleft</string>
    <string>quoteright</string>
    <string>quoteleft</string>
    <string>L</string>
    <string>K</string>
    <string>J</string>
    <string>G</string>
    <string>H</string>
    <string>F</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>Euro</string>
    <string>perthousand</string>
    <string>at</string>
    <string>paragraph</string>
    <string>section</string>
    <string>copyright</string>
    <string>brokenbar</string>
    <string>mu</string>
    <string>plusminus</string>
    <string>degree</string>
    <string>registered</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglright</string>
    <string>periodcentered</string>
    <string>daggerdbl</string>
    <string>I</string>
    <string>exclam</string>
    <string>Eth</string>
    <string>eth</string>
    <string>Lslash</string>
    <string>Thorn</string>
    <string>lslash</string>
    <string>thorn</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onesuperior</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>minus</string>
    <string>multiply</string>
    <string>germandbls</string>
    <string>Oslash</string>
    <string>AE</string>
    <string>ae</string>
    <string>oslash</string>
    <string>florin</string>
    <string>OE</string>
    <string>oe</string>
    <string>divide</string>
    <string>fraction</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>breve</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>yen</string>
    <string>cent</string>
    <string>sterling</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>twosuperior</string>
    <string>acute</string>
    <string>hungarumlaut</string>
    <string>fi</string>
    <string>fl</string>
    <string>greaterequal</string>
    <string>pi</string>
    <string>Omega</string>
    <string>afii10018</string>
    <string>afii10020</string>
    <string>afii10021</string>
    <string>afii10024</string>
    <string>afii10025</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10029</string>
    <string>afii10033</string>
    <string>afii10037</string>
    <string>afii10038</string>
    <string>afii10040</string>
    <string>afii10041</string>
    <string>afii10043</string>
    <string>afii10044</string>
    <string>afii10045</string>
    <string>afii10046</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10049</string>
    <string>afii10042</string>
    <string>afii10066</string>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10072</string>
    <string>afii10073</string>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10076</string>
    <string>afii10077</string>
    <string>afii10078</string>
    <string>afii10079</string>
    <string>afii10081</string>
    <string>afii10084</string>
    <string>afii10086</string>
    <string>afii10088</string>
    <string>afii10089</string>
    <string>afii10091</string>
    <string>afii10092</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10095</string>
    <string>afii10096</string>
    <string>afii10097</string>
    <string>afii10090</string>
    <string>afii10106</string>
    <string>afii10145</string>
    <string>afii10099</string>
    <string>afii10060</string>
    <string>afii10059</string>
    <string>afii10051</string>
    <string>afii10058</string>
    <string>afii10193</string>
    <string>afii10107</string>
    <string>afii10108</string>
    <string>afii10071</string>
    <string>afii10023</string>
    <string>afii10050</string>
    <string>afii10098</string>
    <string>afii61352</string>
    <string>afii10017</string>
    <string>afii10019</string>
    <string>afii10022</string>
    <string>afii10028</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10032</string>
    <string>afii10034</string>
    <string>afii10035</string>
    <string>afii10036</string>
    <string>afii10039</string>
    <string>zero</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>afii10065</string>
    <string>afii10070</string>
    <string>afii10080</string>
    <string>afii10082</string>
    <string>afii10083</string>
    <string>afii10085</string>
    <string>afii10087</string>
    <string>guilsinglleft</string>
    <string>uni00AD</string>
    <string>currency</string>
    <string>uni20BD</string>
    <string>dagger</string>
    <string>Dcroat</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>afii57929</string>
    <string>commaaccent</string>
    <string>cyrBreve</string>
    <string>cyrbreve</string>
    <string>macron</string>
    <string>afii10053</string>
    <string>afii10101</string>
    <string>foursuperior</string>
    <string>f</string>
    <string>approxequal</string>
    <string>lessequal</string>
    <string>notequal</string>
    <string>logicalnot</string>
    <string>partialdiff</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>lozenge</string>
    <string>Delta</string>
    <string>quotedbl</string>
    <string>A</string>
    <string>foundryicon</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>afii10052</string>
    <string>afii10061</string>
    <string>afii10100</string>
    <string>afii10109</string>
    <string>afii10110</string>
    <string>afii10062</string>
    <string>afii10057</string>
    <string>afii10055</string>
    <string>afii10103</string>
    <string>afii10102</string>
    <string>afii10054</string>
    <string>afii10105</string>
    <string>afii10104</string>
    <string>afii10056</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Dcaron</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>Kcommaaccent</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>kcommaaccent</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Otilde</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>dotlessi</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>nacute</string>
    <string>iogonek</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>otilde</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>Germandbls</string>
    <string>uni1E9E</string>
  </array>
</dict>
</plist>
